// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#header {
  background-color: $color-turquise;
  .logo {
    width: 6em;
  }
  @media only screen and (min-width: 768px) {
    .logo {
      width: 8em;
      margin-left: 15px;
    }
    .ui.container {
      width: 100%;
    }
  }
  form {
    @media only screen and (min-width: 768px) {
      width: 50%;
      margin-left: 15%;
      margin-bottom: 5px;
    }
  }
  .input {
    border-radius: 0px;
    input {
      border-radius: 0px;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
    }
    & > .icon {
      color: $color-dark-blue;
      background-color: white;
      border-radius: 0px;
      border-left: 1px solid black;
    }
    @media only screen and (min-width: 768px) { 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
