//Square card

body {
  background-color: white;
  color: black;
  padding: 0px;
  margin: 0px;
  font-family: myriad pro;
}

@import "init";

@import "header";

@import "content";

//@import "footer";

//Main Style

