// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.video-card {
  text-align: left;
  position: relative;
  transition: all 0.2s ease 0s;
  top: 0; /* start out at position 0 */
  margin-bottom: 10px;
  font-size: 10pt;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px;
  &:hover{
    top: -10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  .icon{
    &.facebook,&.twitter,&.google{
      color: $color-turquise;
    }
  }
  .title{
    font-weight: 600;
  }
  .share{
    color: $color-dark-blue;
  }
  .text {
    .spots {
      color: $color-grey-text;
    }
  }

}

